@font-face {
	font-family: 'sourcecode';
	src: url(fonts/SourceCodePro-Regular.otf);
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'sourcecode';
	src: url(fonts/SourceCodePro-Bold.otf);
	font-style: normal;
	font-weight: 600;
}

body {
    font-family: sourcecode, helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: small;
    background-color: #fff3d8;
    margin: 0%;
}

p {
    font-size: medium;
    padding: 0%;
}




#titlebar {
    font-weight: 600;
    font-size: smaller;
    background-color: #fab040;
    border: .125em solid black;
    padding: .35% 0% .35% .45%;
}

#titlebar ol {
    padding: 0%;
    margin: 0%;
}

.button {
    display: inline-block;
}

.button a {
    text-decoration: none;
    color: black;
}

#titlebar li:not(:last-child) {
    padding-right: .5%;
    border-right: .125em solid black;
}

#logo {
    height: 1.2em;
    vertical-align: top;
}


/* Specific for about us page */
main {
    margin: 2.75% 3%;
}

h1 {
    text-align: center;
}