@font-face {
	font-family: 'sourcecode';
	src: url(fonts/SourceCodePro-Regular.otf);
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'sourcecode';
	src: url(fonts/SourceCodePro-Bold.otf);
	font-style: normal;
	font-weight: 600;
}

body {
    font-family: sourcecode, helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
    margin: 0%;
    background-color: #fff3d8;
}

#titlebar {
    background-color: orange;
    border: 1px solid black;
    padding: 0;
}

#titlebar ol {
    padding: .5% 0% .5% 1%;
    margin: 0;
}

.button {
    display: inline-block;
}

.button a {
    font-family: sourcecode;
    text-decoration: none;
    color: black;
}

#titlebar li:not(:last-child)::after {
    display: inline-block;
    color: black;
    content: "|";
    padding: 0% 3px 0% 9px;

}

#logo {
    height: 1.25em;
    vertical-align: middle;
}


/* Specific for contact form page */
form {
    margin: 2% auto;
    padding: 1%;
    width: 40%;
}

label {
    margin-bottom: .75%;
}

form ::placeholder{
    font-family: sourcecode, helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    margin-bottom: 5%;
    border: .125em solid black;
    background-color: #fff3d8;
    box-shadow: inset .2em .2em #00000026;
    padding: 1.25% 1% 1% 1.5%;
}

textarea {
    margin-bottom: 5%;
    resize: vertical;
    border: .125em solid black;
    background-color: #fff3d8;
    box-shadow: inset .2em .2em #00000026;
    padding: 1.25% 1% 1% 1.5%;
}

.formbottom {
    display: flex;
    gap: 2%;
}

.formbuttons {
    flex: 1;
    border: .125em solid black;
    box-shadow: none;
}

input[type="reset"]  {
    background-color: lightgray;

}

input[type="submit"]  {
    background-color: #fab040;
}