@font-face {
	font-family: 'sourcecode';
	src: url(fonts/SourceCodePro-Regular.otf);
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'sourcecode';
	src: url(fonts/SourceCodePro-Bold.otf);
	font-style: normal;
	font-weight: 600;
}

body {
    font-family: sourcecode, helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 90%;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0%;
}

p {
    padding: 0%;
    margin: 0%;
}




#titlebar {
    font-weight: 600;
    font-size: smaller;
    background-color: #fab040;
    border: .125em solid black;
    padding: .35% 0% .35% .45%;
}

#titlebar ol {
    padding: 0%;
    margin: 0%;
}

.button {
    display: inline-block;
}

.button a {
    text-decoration: none;
    color: black;
}

#titlebar li:not(:last-child) {
    padding-right: .5%;
    border-right: .125em solid black;
}

#logo {
    height: 1.2em;
    vertical-align: top;
}




#desktop {
    padding: .5% 2% .5% 2%;
}

#desktop-left{
    float: left;
}

#desktop-right {
    float: right;
}

#desktop ul {
    text-align: center;
    padding: 0%;
    width: fit-content;
    list-style-type: none;
}

.icon {
    margin-bottom: 25%;
}

.icon a:hover {
    display: block;
    background-color: #00000015;
    box-shadow: inset .35em .35em #0000001b;
}

#icon-img {
    width: 65%;
    padding: 15% 0% 10% 0%;
}








#box {
    width: 30em;
    background-color: #fff3d8;
    margin: auto;
    padding: .85em;
    border: .125em solid black;
    box-shadow: .35em .35em #00000044;
}

#segment-1 {
    width: 100%;
    border: .125em solid black;
}


#segment-2 {
    font-weight: 600;
    font-size: 1.11em;
    margin-bottom: 1%;
}


#segment-3 {
    display: flex;
    gap: 3%;
}

#segment-3 p::first-line {
    font-weight: 600;
}

#subsegment-left {
    flex: 1;
    border: .125em solid black;
    box-shadow: inset .35em .35em #00000044;
}

#subsegment-right {
    flex: 1;
    border: .125em solid black;
    box-shadow: inset .35em .35em #00000044;
    text-align: center;
}

.subsegment {
    padding: 3% 4% 2% 5%;
}

#contact-info {
    list-style: none;
    padding: 0%;
    margin: 0%;
}

#contact-info li:not(:first-child) {
    margin-top: 9%;
}

#contact-icon {
    height: 2.5em;
    margin-right: 10%;
}

.info {
    display: inline-block;
}


.visit {
    padding-bottom: 3%;
}




#certifications {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 0;
    padding: 2%;
}

#certifications img {
    margin-top: 5%;
    border: .125em solid black;
    box-shadow: .25em .25em #00000044;
}



a {
    color: maroon;
}





@media screen and (max-width: 700px) {
    
#desktop-left{
    float: none;
}

#desktop-right {
    float: none;
}

.icon {
    display: inline-block;
    margin-bottom: 0%;
}

.icon:not(:last-child) {
    margin-right: 20px;

}

#icon-img {
    width: 70%;
    padding: 15% 0% 10% 0%;
}

#box {
    width: 28em;
}

#segment-2 {
    font-weight: 600;
    font-size: .96em;
    margin-bottom: 1%;
}

#certifications img {
    width: 90%;
}

#certifications {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0%;
}

#certifications img {
    border: .125em solid black;
    box-shadow: .25em .25em #00000044;
}

#certification-1 {
    margin: 3% 1.5% 3% 3%;
}

#certification-2 {
    margin: 3% 3% 3% 1.5%;
}

}