@font-face {
	font-family: 'sourcecode';
	src: url(fonts/SourceCodePro-Regular.otf);
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'sourcecode';
	src: url(fonts/SourceCodePro-Bold.otf);
	font-style: normal;
	font-weight: 600;
}

body {
    font-family: sourcecode, helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
    margin: 0%;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#titlebar {
    background-color: orange;
    border: 1px solid black;
    padding: 0;
}

#titlebar ol {
    padding: .5% 0% .5% 1%;
    margin: 0;
}

.button {
    display: inline-block;
}

.button a {
    font-family: sourcecode;
    text-decoration: none;
    color: black;
}

#titlebar li:not(:last-child)::after {
    display: inline-block;
    color: black;
    content: "|";
    padding: 0% 3px 0% 9px;

}

#logo {
    height: 1.25em;
    vertical-align: middle;
}




#desktop {
    padding: .5%
}

#desktop-left{
    float: left;
}

#desktop-right {
    float: right;
}

aside a {
    font-family: sourcecode;
    text-decoration: none;
    color: black;
}

aside p {
    padding: 0;
    margin: 0;
    margin-bottom: 25%;
}

aside {
    text-align: center;
    padding: 3%
}

.icon a:hover {
    display: block;
    background-color: #00000015;
    box-shadow: inset .35em .35em #0000001b;
}

#icon-img {
    width: 70%;
    padding: 15% 0% 10% 0%;
}





#box {
    width: 40%;
    background-color: #fff3d8;
    margin: auto;
    padding: 1%;
    border: .125em solid black;
    box-shadow: .35em .35em #00000044;
}

#segment-1 {
    width: 100%;
    border: .125em solid black;

}


#segment-2 {
    font-family: sourcecode, helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.11vw;
    padding: 0%;
    margin: 0%;
}


#segment-3 {
    font-family: sourcecode, helvetica, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: small;
    display: flex;
    gap: 3%;
}

@media screen and (max-width: 900px) {
    #segment-3 {
      flex-direction: column;
    }

    #subsegment-left {
        margin-bottom: 3%;
    }


}

#segment-3 p::first-line {
    font-family: sourcecode, helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
}

#subsegment-left {
    flex: auto;
    display: inline-block;
    border: .125em solid black;
    box-shadow: inset .35em .35em #00000044;
    padding: 2.5% 2% 2% 2.5%;
}

#subsegment-right {
    flex: auto;
    display: inline-block;
    border: .125em solid black;
    box-shadow: inset .35em .35em #00000044;
    padding: 2.5% 2% 2% 2.5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#contact-info {
    padding: 0%;
    margin: 0%;
}

#contact-info li {
    display: block;
    content: none;
    margin: 0%;
    padding: 0%;
}

#contact-info img {
    height: 100%;
    vertical-align: middle;
}

.info {
    display: inline-block;
    margin-left: 5%;
    vertical-align: middle;
}

.info p {
    padding: 0%;
    margin: 0%;
}

.visit {
    flex: 1;
}

.visit p {
    margin: 0%;
    padding: 0%;
}



#certifications {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 0;
    padding: 2%;
}

#certifications img {
    margin-top: 5%;
    border: .125em solid black;
    box-shadow: .25em .25em #00000044;
}